<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <env-entry>
    <env-entry-name>registerDataSourceType</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>xml</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>registerDataSourceName</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>UserInfo.xml</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>registerDataSourcePath</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>D:/JavaWorkspace/Main01/LSYMain/LSY.resource/</env-entry-value>
  </env-entry>
  <context-param>
    <param-name>DBType</param-name>
    <param-value>Oracle</param-value>
  </context-param>
  <context-param>
    <param-name>configDataPath</param-name>
    <param-value>D:/JavaWorkspace/Main01/LSYMain/LSY.resource/</param-value>
  </context-param>
  <context-param>
    <param-name>passwordErrorTimes</param-name>
    <param-value>5</param-value>
  </context-param>
  <context-param>
    <param-name>passwordExpired</param-name>
    <param-value>90</param-value>
  </context-param>
  <!-- 為了struts2內整合使用spring -->  
  <context-param>  	
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:springmvc.xml</param-value>
  </context-param>  
  <!-- 為了struts2內整合使用spring  end -->
  <!-- 為了struts2內整合使用spring listener -->
  
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- 為了struts2內整合使用spring listener end -->
  <listener>
    <listener-class>LSY.web_listener.ApplicationStartListener</listener-class>
  </listener>  
  <filter>
  	<filter-name>HibernateLazyloadingFilter</filter-name>
  	<filter-class>LSY.web_filter.HibernateLazyloadingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>HibernateLazyloadingFilter</filter-name>
  	<url-pattern>/Hiber/*</url-pattern>
  </filter-mapping> 
  <filter>  
    <filter-name>CurrentContextFilter</filter-name>
    <filter-class>LSY.web_filter.CurrentContextFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CurrentContextFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>BaseFilter</filter-name>
    <filter-class>LSY.web_filter.BaseFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BaseFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>encoding-filter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding-filter</filter-name>
    <url-pattern>*.spring</url-pattern>
  </filter-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>JspConstraint</web-resource-name>
      <url-pattern>/jsp/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>JspSpringConstraint</web-resource-name>
      <url-pattern>/jsp_spring/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>AllUser</description>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <error-page>
    <error-code>403</error-code>
    <location>/jsp/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/404.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>springDispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>     
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc.xml</param-value>
    </init-param>    
  </servlet>
  <servlet-mapping>
    <servlet-name>springDispatcherServlet</servlet-name>
    <url-pattern>*.spring</url-pattern>
  </servlet-mapping>
  <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
</web-app>